<!doctype html>
<html>
  <head>
    <title>Calculate carbon footprint</title>
  </head>
  <body>
    <div id="maindiv">
      <h1>CARBON FOOTPRINT</h1>
      <h3>Please upload the file for testing the emissions:</h3>
    <form id="script-form",enctype="multipart/form-data">
      <input type="file" id="file" /><br/><br/>
      <input type="submit" value="Check Emissions" />
    </form>
    
    <div id="tablediv">
      <h2>The Emissons are:</h2>
      <table>
          <thead>
            <tr>
              <th>Emissions</th>
              <th>Emissions Rate</th>
              <th>CPU Power</th>
              <th>GPU Power</th>
              <th>RAM Power</th>
              <th>CPU Energy</th>
              <th>GPU Energy</td>
              <th>RAM Energy</th>
              <th>Energy Consumed</th>
            </tr>
          </thead>
          <tbody id="tbody">
            <tr>
              <td class="td" id="Emissions"></td>
              <td class="td" id="EmissionsRate"></td>
              <td class="td" id="CPUPower"></td>
              <td class="td" id="GPUPower"></td>
              <td class="td" id="RAMPower"></td>
              <td class="td" id="CPUEnergy"></td>
              <td class="td" id="GPUEnergy"></td>
              <td class="td" id="RAMEnergy"></td>
              <td class="td" id="EnergyConsumed"></td>
            </tr>
          </tbody>
      </table>
    </div>
    <h3 style="font-family: Georgia, 'Times New Roman', Times, serif; color:black;">Change Code:</h3>
  <form action="indexAPI.html" method="post">
    <input type="submit" value = "View Changed Code">
  </form>
    </div>

    <script>
      const formatNumber=(number)=>
      {
    if (number!==0 && Math.abs(number) < 1e-3 || Math.abs(number) >= 1e7) {
        
            return number.toExponential(1);
        } else {
            return number.toFixed(2);
        }
}
      document.getElementById("script-form").onsubmit = function (e) {
        e.preventDefault();   
        const selectedFile = document.getElementById("file").files[0];
        console.log(selectedFile)
        if (selectedFile) {
        let formdata = new FormData();
        formdata.append("file",selectedFile);

        fetch('http://127.0.0.1:5000/execute_script', {
            method: 'POST',  
            body: formdata,
        })
        .then((response) => response.json())
          .then((data) => {
            // document.getElementById("output").innerHTML = `<pre>${data}</pre>`;
            console.log(data)
            let tdElements = document.getElementsByClassName("td");
            for (let i = 0; i < tdElements.length; i++) {
                tdElements[i].style.border = "1px solid white";
            }
            document.getElementById("Emissions").innerHTML=formatNumber(data.data.emissions)
            document.getElementById("EmissionsRate").innerHTML=formatNumber(data.data.emissions_rate)
            document.getElementById("CPUPower").innerHTML=formatNumber(data.data.cpu_power)
            document.getElementById("GPUPower").innerHTML=formatNumber(data.data.gpu_power)
            document.getElementById("RAMPower").innerHTML=formatNumber(data.data.ram_power)
            document.getElementById("CPUEnergy").innerHTML=formatNumber(data.data.cpu_energy)
            document.getElementById("GPUEnergy").innerHTML=formatNumber(data.data.gpu_energy)
            document.getElementById("RAMEnergy").innerHTML=formatNumber(data.data.ram_energy)
            document.getElementById("EnergyConsumed").innerHTML=formatNumber(data.data.energy_consumed)
            
          }).catch((error) => {
    console.error("Error occurred:", error);
    alert("No internet Connection")
    
  });
      }
    else{
      alert("No file selected")
    }}
      
    </script>
  </body>
</html>
<style>
  th {
  border: 1px solid;
  text-align: center;
  background-color: white;
  color: black;
}
tr,th
{
  padding: 5px;
  text-align: center;
}
body
{
  background-image: url('/static/bg.webp');
  background-size: cover;
  background-repeat: no-repeat;
  
  height: 100vh;
  font-weight: bold;
  letter-spacing: 0.8px;
}

#maindiv
{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.65);
  padding: 20px;
  color: white;
}
#maindiv>h1
{
  text-align: center;
  
}
#script-form input:last-child
{
  padding: 10px;
  cursor: pointer;
  font-weight: bold;
  margin-top: 20px;
  font-size: 14px;
}
#tablediv
{
  margin-top: 50px;
}

</style> -->
<!------------------------------------------->
<!-- <!doctype html>
<html>
  <head>
    <title >Calculate carbon footprint</title>
    <link rel = "stylesheet" href = "styleHOME.css">
  </head>
  <body>
    <header class = "fixed-header"style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;"><h1>Carbon Footprint of Code</h1></header>
    <div class = "main">
    <form id="script-form">
      <p><h3>
        <label for="mytext" style="font-family: Georgia, 'Times New Roman', Times, serif; color:black;">Enter Code file:</label>
    </h3>
    </p>
      <input type="file"  id="filename" />
      <button type="submit">Check Emissions</button>
    </form>
    <p>
    <div>
      <h3 style="font-family: Georgia, 'Times New Roman', Times, serif; color:black;">Emissions Response:</h3>
      <textarea id="response" rows="10" style="width: 80%; background-color:rgb(248, 249, 192);" readonly></textarea>
  </div>
  </p>
  <h3 style="font-family: Georgia, 'Times New Roman', Times, serif; color:black;">Change Code:</h3>
  <form action="indexAPI.html" method="post">
    <input type="submit" value = "View Changed Code">
  </form>
  <p>
  </p>
    </div>
    
    <script>
      document.getElementById("script-form").onsubmit = function (e) {
        e.preventDefault();
        const fileName = document.getElementById("filename").value;
        fetch("/execute_script", {
          method: "POST",
          body: new URLSearchParams({ filename: fileName }),
          headers: {
            "Content-Type": "application/x-www-form-urlencoded",
          },
        })
          .then((response) => response.text())
          .then((data) => {
            document.getElementById("output").innerHTML = `<pre>${data}</pre>`;
          });
      };
    </script>
  </body>
</html> 