<!doctype html>
<html>
  <head>
    <title>Calculate carbon footprint</title>
  </head>
  <body>
    <h1>Carbon footprint</h1>
    <form id="script-form">
      <input type="file" id="filename" />
      <input type="submit" value="Check emissions" />
    </form>
    <pre>Emissions are <div id="output"></div></pre>

    <script>
      document.getElementById("script-form").onsubmit = function (e) {
        e.preventDefault();
        const fileName = document.getElementById("filename").value;
        fetch("/execute_script", {
          method: "POST",
          body: new URLSearchParams({ filename: fileName }),
          headers: {
            "Content-Type": "application/x-www-form-urlencoded",
          },
        })
          .then((response) => response.text())
          .then((data) => {
            document.getElementById("output").innerHTML = `<pre>${data}</pre>`;
          });
      };
    </script>
  </body>
</html>
